<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell_pc.javaisfun">

    <application
        android:allowBackup="true"
        android:icon="@drawable/microchip"
        android:label="@string/app_name"
        android:roundIcon="@drawable/microchip"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EasyActivity" />
        <activity android:name=".MediumActivity" />
        <activity android:name=".HardActivity" />
        <activity android:name=".OQueEJava" />
        <activity android:name=".Variaveis" />
        <activity android:name=".Modificadores" />
        <activity android:name=".Operadores" />
        <activity android:name=".Operadores2" />
        <activity android:name=".Operadores3" />
        <activity android:name=".Operadores4" />
        <activity android:name=".Operadores5" />
        <activity android:name=".Operadores6" />
        <activity android:name=".Operadores7" />
        <activity android:name=".Operadores8" />
        <activity android:name=".Classe" />
        <activity android:name=".Classe2" />
        <activity android:name=".Classe3" />
        <activity android:name=".Metodos" />
        <activity android:name=".Metodos2" />
        <activity android:name=".Metodos3" />
        <activity android:name=".Metodos4" />
        <activity android:name=".Metodos5" />
        <activity android:name=".Metodos6" />
        <activity android:name=".Metodos7" />
        <activity android:name=".Metodos8" />
        <activity android:name=".Metodos9" />
        <activity android:name=".Metodos10" />
        <activity android:name=".Scanner" />
        <activity android:name=".Calculos" />
        <activity android:name=".Calculos3" />
        <activity android:name=".Calculos4" />
        <activity android:name=".Calculos5" />
        <activity android:name=".Calculos6" />
        <activity android:name=".Calculos7" />
        <activity android:name=".Calculos8" />
        <activity android:name=".Condicao" />
        <activity android:name=".LacoDeRepeticao" />
        <activity android:name=".Vetores" />
        <activity android:name=".Matrizes" />
        <activity android:name=".Objetos" />
        <activity android:name=".AboutUs" />
        <activity android:name=".AboutTheApp" />
        <activity android:name=".Scanner2" />
        <activity android:name=".Variaveis2" />
        <activity android:name=".Variaveis3" />
        <activity android:name=".Variaveis4" />
        <activity android:name=".Variaveis5" />
        <activity android:name=".Variaveis6" />
        <activity android:name=".Variaveis7" />
        <activity android:name=".Variaveis8" />
        <activity android:name=".Variaveis9" />
        <activity android:name=".Variaveis10" />
        <activity android:name=".Modificadores2" />
        <activity android:name=".Modificadores3" />
        <activity android:name=".Modificadores4" />
        <activity android:name=".Modificadores5" />
        <activity android:name=".Modificadores6" />
        <activity android:name=".Modificadores7" />
        <activity android:name=".Modificadores8" />
        <activity android:name=".Modificadores9" />
        <activity android:name=".Modificadores10" />
        <activity android:name=".OQueEJava2" />
        <activity android:name=".OQueEJava3" />
        <activity android:name=".OQueEJava4" />
        <activity android:name=".OQueEJava5" />
        <activity android:name=".OQueEJava6" />
        <activity android:name=".OQueEJava7" />
        <activity android:name=".OQueEJava8" />
        <activity android:name=".Calculos2" />
        <activity android:name=".Classe5" />
        <activity android:name=".Classe4" />
        <activity android:name=".Classe6" />
        <activity android:name=".Calculos9" />
        <activity android:name=".Calculos10"></activity>
    </application>

</manifest>