<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell_pc.javaisfun">

    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/microchip"
        android:label="@string/app_name"
        android:roundIcon="@drawable/microchip"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/InicialActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EasyActivity" />
        <activity
            android:name=".MediumActivity"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".HardActivity"
            android:theme="@style/RedActionBar" />
        <activity android:name=".OQueEJava" />
        <activity android:name=".Variaveis" />
        <activity android:name=".Modificadores" />
        <activity android:name=".Operadores" />
        <activity android:name=".Operadores2" />
        <activity android:name=".Operadores3" />
        <activity android:name=".Operadores4" />
        <activity android:name=".Operadores5" />
        <activity android:name=".Operadores6" />
        <activity android:name=".Operadores7" />
        <activity android:name=".Operadores8" />
        <activity android:name=".Classe" />
        <activity android:name=".Classe2" />
        <activity android:name=".Classe3" />
        <activity android:name=".Metodos" />
        <activity android:name=".Metodos2" />
        <activity android:name=".Metodos3" />
        <activity android:name=".Metodos4" />
        <activity android:name=".Metodos5" />
        <activity android:name=".Metodos6" />
        <activity android:name=".Metodos7" />
        <activity android:name=".Metodos8" />
        <activity android:name=".Metodos9" />
        <activity android:name=".Metodos10" />
        <activity android:name=".Scanner" />
        <activity
            android:name=".Calculos"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Calculos3"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Calculos4"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Calculos5"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Calculos6"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Calculos7"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Calculos8"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Vetores"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Matrizes"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Objetos"
            android:theme="@style/RedActionBar" />
        <activity android:name=".AboutUs" />
        <activity android:name=".AboutTheApp" />
        <activity android:name=".Scanner2" />
        <activity android:name=".Variaveis2" />
        <activity android:name=".Variaveis3" />
        <activity android:name=".Variaveis4" />
        <activity android:name=".Variaveis5" />
        <activity android:name=".Variaveis6" />
        <activity android:name=".Variaveis7" />
        <activity android:name=".Variaveis8" />
        <activity android:name=".Variaveis9" />
        <activity android:name=".Variaveis10" />
        <activity android:name=".Modificadores2" />
        <activity android:name=".Modificadores3" />
        <activity android:name=".Modificadores4" />
        <activity android:name=".Modificadores5" />
        <activity android:name=".Modificadores6" />
        <activity android:name=".Modificadores7" />
        <activity android:name=".Modificadores8" />
        <activity android:name=".Modificadores9" />
        <activity android:name=".Modificadores10" />
        <activity android:name=".OQueEJava2" />
        <activity android:name=".OQueEJava3" />
        <activity android:name=".OQueEJava4" />
        <activity android:name=".OQueEJava5" />
        <activity android:name=".OQueEJava6" />
        <activity android:name=".OQueEJava7" />
        <activity android:name=".OQueEJava8" />
        <activity
            android:name=".Calculos2"
            android:theme="@style/GreenActionBar" />
        <activity android:name=".Classe5" />
        <activity android:name=".Classe4" />
        <activity android:name=".Classe6" />
        <activity android:name=".Classe7" />
        <activity
            android:name=".Calculos9"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Calculos10"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao2"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao2"
            android:theme="@style/GreenActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuGear" />
        <activity android:name=".Repeating_activity" />
        <activity
            android:name=".Condicao3"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao4"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao5"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao6"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao7"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao8"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao9"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Condicao10"
            android:theme="@style/GreenActionBar" />

        <receiver android:name=".Notification_receiver" />

        <activity android:name=".Notificacoes" />
        <activity
            android:name=".LacoDeRepeticao3"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao4"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao5"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao6"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao7"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao8"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao9"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".LacoDeRepeticao10"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name=".Vetores2"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Vetores3"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Vetores4"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Vetores5"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Vetores6"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Vetores7"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Vetores8"
            android:theme="@style/RedActionBar" />
        <activity
            android:name=".Vetores9"
            android:theme="@style/RedActionBar" />
        <activity android:name=".Vetores10"
            android:theme="@style/RedActionBar"/>
        <activity android:name=".Vetores11"
            android:theme="@style/RedActionBar"/>
        <activity android:name=".Vetores12"
            android:theme="@style/RedActionBar"/>
    </application>

</manifest>