<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ifcibirama.dell_pc.javaisfun">

    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/microchip"
        android:label="@string/app_name"
        android:roundIcon="@drawable/microchip"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:debuggable="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Splash"
            android:theme="@style/InicialActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.EasyActivity" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.MediumActivity"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.HardActivity"
            android:theme="@style/RedActionBar" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores2" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores3" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores4" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores5" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores6" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores7" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Operadores8" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Classe" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Classe2" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Classe3" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos2" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos3" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos4" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos5" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos6" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos7" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos8" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos9" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Metodos10" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos3"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos4"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos5"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos6"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos7"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos8"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Objetos"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes2"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes3"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes4"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes5"
            android:theme="@style/RedActionBar" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.AboutUs" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.AboutTheApp" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis2" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis3" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis4" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis5" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis6" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis7" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis8" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis9" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Variaveis10" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores2" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores3" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores4" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores5" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores6" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores7" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores8" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores9" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Modificadores10" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava2" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava3" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava4" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava5" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava6" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava7" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.OQueEJava8" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos2"
            android:theme="@style/GreenActionBar" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Classe5" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Classe4" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Classe6" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Classe7" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos9"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Calculos10"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao2"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao2"
            android:theme="@style/GreenActionBar" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.MainActivity" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Repeating_activity" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao3"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao4"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao5"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao6"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao7"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao8"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao9"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao10"
            android:theme="@style/GreenActionBar" />

        <receiver android:name="br.ifcibirama.dell_pc.javaisfun.Notification_receiver" />

        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Notificacoes" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao3"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao4"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao5"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao6"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao7"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao8"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao9"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.LacoDeRepeticao10"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores2"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores3"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores4"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores5"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores6"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores7"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores8"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores9"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores10"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores11"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Vetores12"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao11"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao12"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao13"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao14"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao15"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Condicao16"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner2"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner3"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner4"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner5"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner6"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner7"
            android:theme="@style/GreenActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Scanner8"
            android:theme="@style/GreenActionBar" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas2" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas3" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas4" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas5" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas6" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas7" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas8" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas9" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.BoasPraticas10" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes6"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes7"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes8"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Matrizes9"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Objetos2"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Objetos3"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Objetos4"
            android:theme="@style/RedActionBar" />
        <activity
            android:name="br.ifcibirama.dell_pc.javaisfun.Objetos5"
            android:theme="@style/RedActionBar" />
        <activity

            android:name="br.ifcibirama.dell_pc.javaisfun.Objetos6"
            android:theme="@style/RedActionBar" />
        <activity android:name="br.ifcibirama.dell_pc.javaisfun.Objetos7"
            android:theme="@style/RedActionBar"/>
    </application>

</manifest>